Alfred Appointments

  <%= link_to 'Book a review session', new_booking_path %>
<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <% @bookings.each do |booking| %>
    <tr>
      <td>
        <%= booking.restaurant %>
      </td>
      <td>
        <%= booking.start_time.strftime('%T') %>,
        <%= booking.start_time.strftime('%d-%m-%Y') %>
      </td>
      <td>
        <%= booking.end_time.strftime('%T') %>,
        <%= booking.end_time.strftime('%d-%m-%Y') %>
      </td>
    </tr>
  <% end %>
</table>
